@font-face {
    font-family: 'Larsseit';
    src: local('Larsseit Regular'), local('Larsseit-Regular'),
        url('./fonts/Larsseit.woff2') format('woff2'),
        url('./fonts/Larsseit.woff') format('woff'),
        url('./fonts/Larsseit.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

body {
    font-family: 'Larsseit', sans-serif;
    font-weight: 400;
    font-style: normal;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Larsseit', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.head__bg {
    width: 100%;
    height: 100vh;
    background: url(./image/Bg.jpg) no-repeat center / cover;
    padding: 20px 90px 0;

}
.first__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.head__nav ul {
    display: flex; 
    justify-content: space-between;
    width: 333px;
        
}
.head__nav a {
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #22356F;
}

.head__nav a:hover {
    color: #0033ce;
    border-bottom: 1px solid #0033ce;
}
/* -====LINE=====- */
.line {
    width: 50px;
    height: 5px;
    border-bottom: 1px solid #22356F;
    
}
/* -====Botton=-======- */
.head__contacts_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background: #62D0DF;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    border: none;
}
.head__contacts_btn:hover {
    background: #019cb1;
    cursor: pointer;
}


/* -======Title=====- */
.title__head {
    position: absolute;
    width: 500px;
    height: 167px;
    left: 90px;
    top: 305px;
    font-size: 26px;
    line-height: 53px;
    letter-spacing: -0.035em;
    text-align: left;
    color: #22356F;

}
/* -========thrivet=========- */
.thrivet__head {
    position: absolute;
    left: 90px;
    top: 241px;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.035em;

    color: #62D0DF;
}

/* -========Subtitle=========- */

.subtitle__head {
    position: absolute;
    width: 469px;
    height: 161px;
    left: 90px;
    top: 491px;

    font-size: 24px;
    line-height: 42px;

    color: #22356F;
}

/* -======Button Rectanble */
.btn__rectangle {
    display: flex;
    align-items: center;
    position: absolute;
    width: 150px;
    height: 50px;
    left: 90px;
    top: 700px;
    font-size: 16px;
    line-height: 23px;
    
    letter-spacing: 0.1em;
    justify-content: center;
    color: #FFFFFF;
    background: #F9B640;
    border: none;

}
.rectangle:hover {
    background: #d68801;
    cursor: pointer;
}

/* -=====Block 2=====- */

.intro__section {
    display: inline-block;
    flex-wrap: wrap;
    width: 100%;
    height: 605px;
    margin-left: 0;
    background: #62D0DF;
    
}

/* Why Thrive? */

.thrive__intro {
    float: left;
    width: 223px;
    height: 51px;
    margin-left: 90px;
    margin-top: 103px;
    font-size: 26px;
    letter-spacing: -0.006em;

    color: #FFFFFF;
}
.want__intro {
        width: 555px;
    height: 235px;
    margin-left: 90px;
    margin-top: 209px;
    font-size: 24px;
       color: #FFFFFF;
}

/* -======I,g christ=====- */
.img_christ__intro {
    float: right;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    width: 525px;
    height: 604px;
    bottom: 400px;
}
/* -======thriveblock__intro======- */
.thriveblock__intro {
    width: 592px;
    margin-left: 424px;
    margin-top: 296px;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.005em;
    
    color: #22356F;
}

/* ABOUT US */
.about_us__intro {
    position: relative;
    width: 93px;
    height: 210px;
    left: 106px;
    bottom: 250px;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #22356F;
    opacity: 0.6;
}

/* -==========Block 3============- */

.title__second {
    margin-top: 120px;
    margin-left: 200px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.06em;
    color: rgba(34, 53, 111, 0.5);
}

.second__cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 1px;
    margin-top: 20px;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;

    color: #FFFFFF;
}
.second__Weight_Lifting {
   
   background: #FFE2DE;
   width: 25%;
  
   height: 360px;
}
.Weight_Lifting__scnd {
    margin-left: 50px;
    width: 70%;
    height: 72px;
    background: #FFE2DE;
    box-shadow: inset 0px -1px 0px #FFFFFF; 
}
.second__cont p {
    padding-top: 70px;
    padding-left: 25px;
    text-align: center;
}
.second__Weight_Lifting1 {
    background:#C4E769;  
    width: 25%;
    height: 360px;      
}
.Weight_Lifting__scnd1 {
    margin-left: 50px;
    width: 70%;
    height: 72px;
    background: #C4E769; 
    box-shadow: inset 0px -1px 0px #FFFFFF; 
}    
.second__Weight_Lifting2 {
    
    background:#62D0DF; 
    width: 25%;
    height: 360px;      
}
.Weight_Lifting__scnd2 {
    margin-left: 50px;
    width: 70%;
    height: 72px;
    background: #62D0DF; 
    box-shadow: inset 0px -1px 0px #FFFFFF; 
}  
.second__Weight_Lifting3 {
    background:#0052C1;
    width: 25%;
    height: 360px;      
}
.Weight_Lifting__scnd3 {
    margin-left: 50px;
    width: 70%;
    height: 72px;
    background: #0052C1; 
    box-shadow: inset 0px -1px 0px #FFFFFF; 
}  


/* -=====Before=====- */
.sub::before {
    content: "";
    display: inline-block;
    transform: translate(30%);
    margin-right: 15px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color:#E9B730; 
}


/* -=======Block 4=======- */
.container__four {
    display: flex; 
    margin-top: 80px;
    background-color: #dee1ffa6;
       
}
.health__group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:  wrap;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;

    color: #FFFFFF;
}

.physical__Health {
    height: 480px;
    width: 480px;
    background: #22356F;

}
.physical__Health__scnd {
    margin-left: 50px;
    width: 70%;
    height: 96px;
    background: #22356F;
    box-shadow: inset 0px -1px 0px #FFFFFF; 
}
.health__group p{
    padding-top: 70px;
    padding-left: 50px;
    text-align: left;
}

.mental__Health1 {
    height: 480px;
    width: 480px;
    background: #0052C1;

}
.mental__Health__scnd1 {
    margin-left: 50px;
    width: 70%;
    height: 96px;
    background: #0052C1;
    box-shadow: inset 0px -1px 0px #FFFFFF; 
}
.nutrition__health {
    display: flex;
    width: 480px;
    height: 480px;
    text-align: center;
}

.par {
    position: relative;
    right: 470px;
    text-align: center;
}

.nutrition__scnd1 {
    position: relative;
    left: 60px;
    width: 330px;
    height: 96px;
    
    box-shadow: inset 0px -1px 0px #FFFFFF;
}

.gymnastics__health {
    height: 480px;
    width: 480px;
    background: #62D0DF;
}
.gymnastics__health__scnd1 {
    margin-left: 50px;
    width: 70%;
    height: 96px;
    background: #62D0DF;
    box-shadow: inset 0px -1px 0px #FFFFFF; 
}
.crossfit__health {
    height: 480px;
    width: 480px;
    background: #DEE1FF;
}
.crossfit__health__scnd1 {
    margin-left: 50px;
    width: 70%;
    height: 96px;
    background: #DEE1FF;
    box-shadow: inset 0px -1px 0px #FFFFFF; 
}
.aerobics__health {
    height: 480px;
    width: 480px;
    background: #8F00FF;
}
.aerobics__health__scnd1 {
    margin-left: 50px;
    width: 70%;
    height: 96px;
    background: #8F00FF;
    box-shadow: inset 0px -1px 0px #FFFFFF; 
}

/* -=======Block 5=========- */
.contents__plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    text-align: left;
    padding: 0;
         
    background-color: #cacaca3f;
}

.content__train {
    width: 480px;
    height: 240px; 
    
}
.train {
    font-family: 'Larsseit', sans-serif;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.03em;    

    color: #22356F;
    padding-left: 20px;
    padding-top: 30px;
    
}
.train_par {
    padding-left: 20px;
    padding-top: 30px;
    
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: rgba(34, 53, 111, 0.5);
       
}

/* -=======Block 6=========- */
.sect__should {
    display: flex;
    
}
.sect__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 100px;
}
.sect__know {
        
    width: 217px;
    
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.06em;

    color: #22356F;
}

.sect__mdd {
    width: 676px;
    height: 215px;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.01em;

    color: #22356F;
}
.sect__get {
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

    color: #FAB63E;  
}

/* -=======Block 7========- */
.cont__ready {
    display: flex;
    justify-content: space-between;
    background: #22356F;
    text-align: left;
    height: 800px;

}
.cont__text {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 200px;
    
}

.cont__us {
    margin-top: 65px;
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.06em;

    color: #FFFFFF;
}
.cont__smile {
    margin-top: 170px;
    font-size: 64px;
    line-height: 94px;
    letter-spacing: -0.01em;

    color: #FFFFFF;
}
.cont__free {
    margin-top: 30px;
    width: 579px;
    height: 233px;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.005em;

    color: #FFFFFF;
}

.cont__get {
    line-height: 23px;
    align-items: center;
    letter-spacing: 0.1em;

    color: #62D0DF;
    margin-bottom: 30px;

}
.cont__cupture {
    background-repeat: no-repeat;
    background-size: cover;
}

/* -======Block 8=======- */
.info {
    display: flex;
    flex-wrap: wrap;
    height: 380px;
}
.info__contacts {
    display: flex;
                
}
.info__some {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    margin-left: 120px;
}

.info__par{
    width: 240px;
    height: 115px;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.006em;

    color: rgba(34, 53, 111, 0.5);

}

/* -=======Footer=====- */
.foot {
    background-color: #62D0DF;
    padding-left: 120px;
    padding-top: 40px;
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.006em;
    height: 80px;
    
    color: #FFFFFF;
    
}











